.tableHolder{
    margin-top: 60px;
    width:65%;
    margin-bottom: 1px;
    margin-left: 280px;
    background-color: #E4E9F7;
}
.tableOrder{
    margin-bottom: 40px;
    background-color: #fff;
}
.editicon{
    margin-right: 50px;
}
.updatebtn{
    
    background-color:white;
    border-color: white;


}